h2{
    vertical-align: center;
    text-align: center;
}
html, body{
    margin: 0;
    height: 100%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
strong.forte{
    color: rgba(25, 0, 168, 0.651);
}
.top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #2937fc, #008ca5);
    color: #FFF;
    height: 80px;
    padding: 1rem;
    border: 2px solid black;
}
.menu{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.menu > li{
    margin: 0 1rem;
    color: rgb(1, 245, 22);
    border: 2px solid rgb(139, 139, 233);
    padding: 3px;
    transition: 1s;
    font-weight: 700;
}
.menu li:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
    transition: 2s;
}
.menu-button-containe{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle{
    display: none;
}
.product{
    width: 300px;
    margin-left: 30px;
    background-color: #00BAF0;
    border:2px double black;
    padding: 5px;
    transition: 2s;
}
.product:hover{
    transition: 3s;
    cursor: pointer;
    width: 97%;
    background-color: #045974;
    border-radius:  50px 0px 50px 0px;
    color: #FFF;
    padding: 10px;
}
.productTwo{
    text-align: center;
}
.hamburguer img{
    height: 500px;
    width: 600px;
    display: inline-block;
    margin-left: 75px;
    border: 6px solid red;
    transition: 2s;
    margin-bottom: 20px;
}
.hamburguer img:hover{
    border: 6px solid rgb(47, 0, 255);
    transition: 2s;
}
.hamOne:hover{
    overflow: hidden;
    border-radius: 50px;
    transition: 2s;
    height: 550px;
}
.hamTwo:hover{
    overflow: hidden;
    border-radius: 50px;
    transition: 2s;
    height: 550px;
}
.productOne{
    width: 300px;
    margin-left: 30px;
    background-color: #00BAF0;
    border:2px double black;
    padding: 5px;
    transition: 2s;
    margin-bottom: 50px;
}
.productOne:hover{
    transition: 3s;
    cursor: pointer;
    width: 97%;
    background-color: #045974;
    border-radius:  50px 0px 50px 0px;
    color: #FFF;
    padding: 10px;
}

footer{
    background-color: black;
    color: #00BAF0;
    height: 100px;
    padding-top: 15px;
    transition: 1s;
    
}
footer:hover{
    transition: 2s;
    background-color: rgb(36, 35, 35);
    color: #f2f7f8;
    height: 100px;
    margin-right: 100px;
    margin-left: 80px;
    padding-top: 8px;
    border-radius: 10px;
}
